@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>勇者打怪獸</h1>
    <p class="lead">還不快來打怪獸</p>
</div>

<div class="row">
    <div class="col-md-4">
          <p><a class="btn btn-default" href="/Battle/Battle_Template">立即出征 &raquo;</a></p>
    </div>
</div>